footer
      .container-footer
        .footer-elements
        .footer-elements.f-center
          img.footer-center-img(src='/assets/footer-map.svg', alt='map')
          p.footer-center-text &copy; NoViS Touriest office and rental agency
          img(src='/assets/Line-footer.svg', alt='line-footer')
        .footer-elements