a(href='http://localhost:3000')
  li Main page
a(href='http://localhost:3000/all-tours')
  li Tours
a(href='http://localhost:3000/team')
  li Team Members
a(href='http://localhost:3000/all-reviews')
  li Reviews
a(href='http://localhost:3000/my-tours')
  li Booking
